@use "./variables";
@use "./mixins";

.modal-navbar {
    &__background {
        @include mixins.modal-background();
    }

    background-color: variables.$White;
    width: 250px;
    padding: 28px 24px;
    height: 100%;

    //  display: none;
    &__items {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
        list-style: none;
        margin-top: 50px;

    }

    &__link {
        //esto es agregado por mi
        display: block;
        width: 100%;
        //
        text-decoration: none;
        color: variables.$Very-dark-blue;
        font-weight: 700;
        font-size: 1.1em;
        &:hover {
            border-bottom: 4px solid variables.$Orange;
        }
    }

    &__close-icon:hover {
        cursor: pointer;
    }

    @media (min-width:1115px) {
        display: none;
    }
}